@font-face {
    font-family: 'poppins';
    src: url(../font/Poppins-SemiBold.ttf);
}

*{
    font-family: 'poppins';
}

body{
    background-color: #2a2e7d;
    color: #ffffff;
}

h1{
    text-align: center;
}

div{
    width: max-content;
    margin: auto;

}

button {
    cursor: pointer;
    width: 120px;
    height: 30px;
    background-color: #180d61;
    color: #1eb8d7;
    border: none;
    transition: 0.6s;
}

button:hover{
    background-color: #34297a;
}

